body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -100px;
    width: 963px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../视频TAG_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:101px;
    top:193px;
    width:961px;
    height:35px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:41px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../视频TAG_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:114px;
    top:198px;
    width:13px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:31px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:141px;
    top:201px;
    width:188px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../视频TAG_1_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:101px;
    top:228px;
    width:961px;
    height:387px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:393px;
}

.u6 {
    position:absolute;
    left:2px;
    top:186px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../视频TAG_1_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:101px;
    top:228px;
    width:961px;
    height:129px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u8 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../视频TAG_1_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:117px;
    top:241px;
    width:126px;
    height:95px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u10 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_container {
    position:absolute;
    left:121px;
    top:244px;
    width:119px;
    height:90px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u12 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:255px;
    top:237px;
    width:390px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:255px;
    top:273px;
    width:520px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:255px;
    top:334px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../视频TAG_1_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:101px;
    top:357px;
    width:961px;
    height:129px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u17 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../视频TAG_1_files/u9_normal.png');
}

.u18_container {
    position:absolute;
    left:117px;
    top:370px;
    width:126px;
    height:95px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u19 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../视频TAG_1_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:121px;
    top:373px;
    width:119px;
    height:90px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u21 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:255px;
    top:366px;
    width:397px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:255px;
    top:402px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:255px;
    top:463px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../视频TAG_1_files/u7_normal.png');
}

.u25_container {
    position:absolute;
    left:101px;
    top:486px;
    width:961px;
    height:129px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u26 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../视频TAG_1_files/u9_normal.png');
}

.u27_container {
    position:absolute;
    left:117px;
    top:499px;
    width:126px;
    height:95px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u28 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_container {
    position:absolute;
    left:121px;
    top:502px;
    width:119px;
    height:90px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u30 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:255px;
    top:495px;
    width:397px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:255px;
    top:531px;
    width:520px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:255px;
    top:592px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../视频TAG_1_files/u16_normal.png');
}

.u34_container {
    position:absolute;
    left:101px;
    top:615px;
    width:961px;
    height:129px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u35 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../视频TAG_1_files/u9_normal.png');
}

.u36_container {
    position:absolute;
    left:117px;
    top:628px;
    width:126px;
    height:95px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u37 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../视频TAG_1_files/u20_normal.png');
}

.u38_container {
    position:absolute;
    left:121px;
    top:631px;
    width:119px;
    height:90px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u39 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:255px;
    top:624px;
    width:397px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:255px;
    top:660px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:255px;
    top:721px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../视频TAG_1_files/u7_normal.png');
}

.u43_container {
    position:absolute;
    left:101px;
    top:744px;
    width:961px;
    height:129px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u44 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../视频TAG_1_files/u9_normal.png');
}

.u45_container {
    position:absolute;
    left:117px;
    top:757px;
    width:126px;
    height:95px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u46 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_container {
    position:absolute;
    left:121px;
    top:760px;
    width:119px;
    height:90px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u48 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:255px;
    top:753px;
    width:405px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:255px;
    top:789px;
    width:520px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:255px;
    top:850px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../视频TAG_1_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:101px;
    top:873px;
    width:961px;
    height:45px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:51px;
}

.u53 {
    position:absolute;
    left:2px;
    top:14px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../视频TAG_1_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:870px;
    top:883px;
    width:22px;
    height:24px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../视频TAG_1_files/u56_mouseOver.png');
}

.u56_normal {
    background-image: url('../视频TAG_1_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:907px;
    top:883px;
    width:22px;
    height:24px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_mouseOver {
    background-image: url('../视频TAG_1_files/u56_mouseOver.png');
}

.u58_normal {
    background-image: url('../视频TAG_1_files/u56_normal.png');
}

.u58_container {
    position:absolute;
    left:944px;
    top:883px;
    width:22px;
    height:24px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_mouseOver {
    background-image: url('../视频TAG_1_files/u56_mouseOver.png');
}

.u60_normal {
    background-image: url('../视频TAG_1_files/u56_normal.png');
}

.u60_container {
    position:absolute;
    left:981px;
    top:883px;
    width:22px;
    height:24px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../视频TAG_1_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:820px;
    top:883px;
    width:35px;
    height:24px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:30px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../视频TAG_1_files/u62_normal.png');
}

.u64_container {
    position:absolute;
    left:1018px;
    top:883px;
    width:35px;
    height:24px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:30px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../视频TAG_1_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:101px;
    top:5px;
    width:962px;
    height:136px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:962px;
    height:136px;
}

.u67 {
    position:absolute;
    left:2px;
    top:60px;
    width:958px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../视频TAG_1_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:100px;
    top:140px;
    width:962px;
    height:45px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:968px;
    height:51px;
}

.u69 {
    position:absolute;
    left:2px;
    top:14px;
    width:958px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_line {
    background-image: url('../视频TAG_1_files/u70_line.png');
}

.u70_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:45px;
}

.u70 {
    position:absolute;
    left:990px;
    top:139px;
    width:10px;
    height:45px;
    
}

.u71_line {
    background-image: url('../视频TAG_1_files/u71_line.png');
}

.u71_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:45px;
}

.u71 {
    position:absolute;
    left:820px;
    top:139px;
    width:10px;
    height:45px;
    
}

.u72_normal {
    background-image: url('../视频TAG_1_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:830px;
    top:150px;
    width:20px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:856px;
    top:140px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:853px;
    top:147px;
    width:139px;
    height:29px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u76_line {
    background-image: url('../视频TAG_1_files/u76_line.png');
}

.u76_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:43px;
}

.u76 {
    position:absolute;
    left:203px;
    top:141px;
    width:10px;
    height:43px;
    
}

.u77_line {
    background-image: url('../视频TAG_1_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u77 {
    position:absolute;
    left:320px;
    top:140px;
    width:10px;
    height:44px;
    
}

.u78_line {
    background-image: url('../视频TAG_1_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:41px;
}

.u78 {
    position:absolute;
    left:437px;
    top:142px;
    width:10px;
    height:41px;
    
}

.u79_mouseOver {
    background-image: url('../视频TAG_1_files/u79_mouseOver.png');
}

.u79_normal {
    background-image: url('../视频TAG_1_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:101px;
    top:141px;
    width:106px;
    height:43px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:49px;
}

.u80 {
    position:absolute;
    left:2px;
    top:14px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../视频TAG_1_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:118px;
    top:149px;
    width:10px;
    height:25px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u82 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_mouseOver {
    background-image: url('../视频TAG_1_files/u83_mouseOver.png');
}

.u83_normal {
    background-image: url('../视频TAG_1_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:209px;
    top:141px;
    width:114px;
    height:43px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:49px;
}

.u84 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../视频TAG_1_files/u81_normal.png');
}

.u85_container {
    position:absolute;
    left:226px;
    top:149px;
    width:10px;
    height:25px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u86 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_mouseOver {
    background-image: url('../视频TAG_1_files/u83_mouseOver.png');
}

.u87_normal {
    background-image: url('../视频TAG_1_files/u83_normal.png');
}

.u87_container {
    position:absolute;
    left:326px;
    top:141px;
    width:114px;
    height:43px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:49px;
}

.u88 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../视频TAG_1_files/u81_normal.png');
}

.u89_container {
    position:absolute;
    left:345px;
    top:149px;
    width:10px;
    height:25px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u90 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_mouseOver {
    background-image: url('../视频TAG_1_files/u83_mouseOver.png');
}

.u91_normal {
    background-image: url('../视频TAG_1_files/u83_normal.png');
}

.u91_container {
    position:absolute;
    left:440px;
    top:141px;
    width:114px;
    height:43px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:49px;
}

.u92 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_line {
    background-image: url('../视频TAG_1_files/u93_line.png');
}

.u93_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:42px;
}

.u93 {
    position:absolute;
    left:434px;
    top:142px;
    width:10px;
    height:42px;
    
}

.u94_line {
    background-image: url('../视频TAG_1_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:42px;
}

.u94 {
    position:absolute;
    left:549px;
    top:142px;
    width:10px;
    height:42px;
    
}

.u95 {
    position:absolute;
    left:995px;
    top:153px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../视频TAG_1_files/u81_normal.png');
}

.u96_container {
    position:absolute;
    left:450px;
    top:149px;
    width:10px;
    height:25px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:112px;
    top:10px;
    width:177px;
    height:81px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:100px;
    top:949px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_line {
    background-image: url('../视频TAG_1_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u100 {
    position:absolute;
    left:100px;
    top:966px;
    width:190px;
    height:10px;
    
}

.u101 {
    position:absolute;
    left:100px;
    top:993px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:100px;
    top:1024px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:350px;
    top:949px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_line {
    background-image: url('../视频TAG_1_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u104 {
    position:absolute;
    left:350px;
    top:966px;
    width:190px;
    height:10px;
    
}

.u105 {
    position:absolute;
    left:350px;
    top:993px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:350px;
    top:1024px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:350px;
    top:1059px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:610px;
    top:949px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_line {
    background-image: url('../视频TAG_1_files/u109_line.png');
}

.u109_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u109 {
    position:absolute;
    left:610px;
    top:966px;
    width:190px;
    height:10px;
    
}

.u110 {
    position:absolute;
    left:610px;
    top:993px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:610px;
    top:1024px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:866px;
    top:949px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_line {
    background-image: url('../视频TAG_1_files/u113_line.png');
}

.u113_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u113 {
    position:absolute;
    left:866px;
    top:966px;
    width:190px;
    height:10px;
    
}

.u114 {
    position:absolute;
    left:866px;
    top:993px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:866px;
    top:1024px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

