body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -100px;
    width: 964px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../IT前沿资讯_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:101px;
    top:5px;
    width:962px;
    height:136px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:962px;
    height:136px;
}

.u1 {
    position:absolute;
    left:2px;
    top:60px;
    width:958px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:100px;
    top:959px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../IT前沿资讯_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u3 {
    position:absolute;
    left:100px;
    top:976px;
    width:190px;
    height:10px;
    
}

.u4 {
    position:absolute;
    left:100px;
    top:1003px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:100px;
    top:1034px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:350px;
    top:959px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../IT前沿资讯_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u7 {
    position:absolute;
    left:350px;
    top:976px;
    width:190px;
    height:10px;
    
}

.u8 {
    position:absolute;
    left:350px;
    top:1003px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:350px;
    top:1034px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:350px;
    top:1069px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:610px;
    top:959px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../IT前沿资讯_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u12 {
    position:absolute;
    left:610px;
    top:976px;
    width:190px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:610px;
    top:1003px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:610px;
    top:1034px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:866px;
    top:959px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../IT前沿资讯_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u16 {
    position:absolute;
    left:866px;
    top:976px;
    width:190px;
    height:10px;
    
}

.u17 {
    position:absolute;
    left:866px;
    top:1003px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:866px;
    top:1034px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:892px;
    top:270px;
    width:158px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:892px;
    top:241px;
    width:158px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:833px;
    top:243px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:833px;
    top:273px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../IT前沿资讯_files/button_u23_mouseOver.png');
}

.u23_disabled {
    background-image: url('../IT前沿资讯_files/button_u23_disabled.png');
}

.u23_normal {
    background-image: url('../IT前沿资讯_files/button_u23_normal.png');
}

.u23_container {
    position:absolute;
    left:861px;
    top:326px;
    width:84px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../IT前沿资讯_files/button_u23_mouseOver.png');
}

.u25_disabled {
    background-image: url('../IT前沿资讯_files/button_u23_disabled.png');
}

.u25_normal {
    background-image: url('../IT前沿资讯_files/button_u23_normal.png');
}

.u25_container {
    position:absolute;
    left:966px;
    top:326px;
    width:84px;
    height:25px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:31px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../IT前沿资讯_files/loginerror_u27_normal.png');
}

.u27_container {
    position:absolute;
    left:945px;
    top:299px;
    width:105px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../IT前沿资讯_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:100px;
    top:140px;
    width:962px;
    height:45px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:968px;
    height:51px;
}

.u30 {
    position:absolute;
    left:2px;
    top:14px;
    width:958px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../IT前沿资讯_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:45px;
}

.u31 {
    position:absolute;
    left:990px;
    top:139px;
    width:10px;
    height:45px;
    
}

.u32_line {
    background-image: url('../IT前沿资讯_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:45px;
}

.u32 {
    position:absolute;
    left:820px;
    top:139px;
    width:10px;
    height:45px;
    
}

.u33_normal {
    background-image: url('../IT前沿资讯_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:830px;
    top:150px;
    width:20px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:856px;
    top:140px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:853px;
    top:147px;
    width:139px;
    height:29px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u37_line {
    background-image: url('../IT前沿资讯_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:43px;
}

.u37 {
    position:absolute;
    left:203px;
    top:141px;
    width:10px;
    height:43px;
    
}

.u38_line {
    background-image: url('../IT前沿资讯_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u38 {
    position:absolute;
    left:320px;
    top:140px;
    width:10px;
    height:44px;
    
}

.u39_line {
    background-image: url('../IT前沿资讯_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:41px;
}

.u39 {
    position:absolute;
    left:437px;
    top:142px;
    width:10px;
    height:41px;
    
}

.u40_mouseOver {
    background-image: url('../IT前沿资讯_files/u40_mouseOver.png');
}

.u40_normal {
    background-image: url('../IT前沿资讯_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:101px;
    top:141px;
    width:106px;
    height:43px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:49px;
}

.u41 {
    position:absolute;
    left:2px;
    top:14px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../IT前沿资讯_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:118px;
    top:149px;
    width:10px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../IT前沿资讯_files/u44_mouseOver.png');
}

.u44_normal {
    background-image: url('../IT前沿资讯_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:209px;
    top:141px;
    width:114px;
    height:43px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:49px;
}

.u45 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../IT前沿资讯_files/u42_normal.png');
}

.u46_container {
    position:absolute;
    left:226px;
    top:149px;
    width:10px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../IT前沿资讯_files/u44_mouseOver.png');
}

.u48_normal {
    background-image: url('../IT前沿资讯_files/u44_normal.png');
}

.u48_container {
    position:absolute;
    left:326px;
    top:141px;
    width:114px;
    height:43px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:49px;
}

.u49 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../IT前沿资讯_files/u42_normal.png');
}

.u50_container {
    position:absolute;
    left:345px;
    top:149px;
    width:10px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../IT前沿资讯_files/u44_mouseOver.png');
}

.u52_normal {
    background-image: url('../IT前沿资讯_files/u44_normal.png');
}

.u52_container {
    position:absolute;
    left:440px;
    top:141px;
    width:114px;
    height:43px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:49px;
}

.u53 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_line {
    background-image: url('../IT前沿资讯_files/u54_line.png');
}

.u54_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:42px;
}

.u54 {
    position:absolute;
    left:434px;
    top:142px;
    width:10px;
    height:42px;
    
}

.u55_line {
    background-image: url('../IT前沿资讯_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:42px;
}

.u55 {
    position:absolute;
    left:549px;
    top:142px;
    width:10px;
    height:42px;
    
}

.u56 {
    position:absolute;
    left:995px;
    top:153px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../IT前沿资讯_files/u42_normal.png');
}

.u57_container {
    position:absolute;
    left:450px;
    top:149px;
    width:10px;
    height:25px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../IT前沿资讯_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:101px;
    top:228px;
    width:715px;
    height:129px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:135px;
}

.u60 {
    position:absolute;
    left:2px;
    top:56px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:111px;
    top:237px;
    width:639px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:111px;
    top:331px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../IT前沿资讯_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:101px;
    top:357px;
    width:715px;
    height:129px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:135px;
}

.u64 {
    position:absolute;
    left:2px;
    top:56px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../IT前沿资讯_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:101px;
    top:873px;
    width:715px;
    height:45px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:51px;
}

.u66 {
    position:absolute;
    left:2px;
    top:14px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../IT前沿资讯_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:630px;
    top:883px;
    width:22px;
    height:24px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_mouseOver {
    background-image: url('../IT前沿资讯_files/u69_mouseOver.png');
}

.u69_normal {
    background-image: url('../IT前沿资讯_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:667px;
    top:883px;
    width:22px;
    height:24px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u70 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_mouseOver {
    background-image: url('../IT前沿资讯_files/u69_mouseOver.png');
}

.u71_normal {
    background-image: url('../IT前沿资讯_files/u69_normal.png');
}

.u71_container {
    position:absolute;
    left:704px;
    top:883px;
    width:22px;
    height:24px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u72 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_mouseOver {
    background-image: url('../IT前沿资讯_files/u69_mouseOver.png');
}

.u73_normal {
    background-image: url('../IT前沿资讯_files/u69_normal.png');
}

.u73_container {
    position:absolute;
    left:741px;
    top:883px;
    width:22px;
    height:24px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u74 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../IT前沿资讯_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:580px;
    top:883px;
    width:35px;
    height:24px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:30px;
}

.u76 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../IT前沿资讯_files/u75_normal.png');
}

.u77_container {
    position:absolute;
    left:778px;
    top:883px;
    width:35px;
    height:24px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:30px;
}

.u78 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../IT前沿资讯_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:101px;
    top:193px;
    width:715px;
    height:35px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:41px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../IT前沿资讯_files/u42_normal.png');
}

.u81_container {
    position:absolute;
    left:111px;
    top:198px;
    width:10px;
    height:25px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u82 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:131px;
    top:201px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:131px;
    top:409px;
    width:584px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:111px;
    top:367px;
    width:615px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:111px;
    top:461px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../IT前沿资讯_files/u59_normal.png');
}

.u87_container {
    position:absolute;
    left:101px;
    top:486px;
    width:715px;
    height:129px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:135px;
}

.u88 {
    position:absolute;
    left:2px;
    top:56px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:131px;
    top:537px;
    width:574px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:111px;
    top:495px;
    width:589px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:111px;
    top:589px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../IT前沿资讯_files/u63_normal.png');
}

.u92_container {
    position:absolute;
    left:101px;
    top:615px;
    width:715px;
    height:129px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:135px;
}

.u93 {
    position:absolute;
    left:2px;
    top:56px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:131px;
    top:667px;
    width:584px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:111px;
    top:625px;
    width:220px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:111px;
    top:719px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../IT前沿资讯_files/u59_normal.png');
}

.u97_container {
    position:absolute;
    left:101px;
    top:744px;
    width:715px;
    height:129px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:721px;
    height:135px;
}

.u98 {
    position:absolute;
    left:2px;
    top:56px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:131px;
    top:795px;
    width:569px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:111px;
    top:753px;
    width:524px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:111px;
    top:847px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:131px;
    top:276px;
    width:584px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../IT前沿资讯_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:830px;
    top:366px;
    width:227px;
    height:299px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:233px;
    height:305px;
}

.u104 {
    position:absolute;
    left:2px;
    top:142px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../IT前沿资讯_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:835px;
    top:372px;
    width:8px;
    height:24px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:30px;
}

.u106 {
    position:absolute;
    left:2px;
    top:4px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:850px;
    top:375px;
    width:82px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_line {
    background-image: url('../IT前沿资讯_files/u108_line.png');
}

.u108_line {
    position:absolute;
    left:0px;
    top:4px;
    width:227px;
    height:3px;
}

.u108 {
    position:absolute;
    left:830px;
    top:399px;
    width:227px;
    height:10px;
    
}

.u109_line {
    background-image: url('../IT前沿资讯_files/u109_line.png');
}

.u109_line {
    position:absolute;
    left:0px;
    top:4px;
    width:227px;
    height:3px;
}

.u109 {
    position:absolute;
    left:830px;
    top:398px;
    width:227px;
    height:10px;
    
}

.u110_line {
    background-image: url('../IT前沿资讯_files/u110_line.png');
}

.u110_line {
    position:absolute;
    left:0px;
    top:4px;
    width:226px;
    height:3px;
}

.u110 {
    position:absolute;
    left:830px;
    top:399px;
    width:226px;
    height:10px;
    
}

.u111 {
    position:absolute;
    left:844px;
    top:439px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:843px;
    top:520px;
    width:202px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:842px;
    top:613px;
    width:211px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_line {
    background-image: url('../IT前沿资讯_files/u114_line.png');
}

.u114_line {
    position:absolute;
    left:0px;
    top:4px;
    width:225px;
    height:3px;
}

.u114 {
    position:absolute;
    left:831px;
    top:478px;
    width:225px;
    height:10px;
    
}

.u115_line {
    background-image: url('../IT前沿资讯_files/u115_line.png');
}

.u115_line {
    position:absolute;
    left:0px;
    top:4px;
    width:225px;
    height:3px;
}

.u115 {
    position:absolute;
    left:830px;
    top:569px;
    width:225px;
    height:10px;
    
}

.u116 {
    position:absolute;
    left:844px;
    top:407px;
    width:220px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:843px;
    top:491px;
    width:220px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:843px;
    top:579px;
    width:220px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:112px;
    top:10px;
    width:177px;
    height:81px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../IT前沿资讯_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:829px;
    top:198px;
    width:225px;
    height:26px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:32px;
}

.u121 {
    position:absolute;
    left:2px;
    top:5px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

