body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -100px;
    width: 963px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../搜索页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:101px;
    top:5px;
    width:962px;
    height:136px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:962px;
    height:136px;
}

.u1 {
    position:absolute;
    left:2px;
    top:60px;
    width:958px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../搜索页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:100px;
    top:140px;
    width:962px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:968px;
    height:51px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:958px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../搜索页面_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:45px;
}

.u4 {
    position:absolute;
    left:990px;
    top:139px;
    width:10px;
    height:45px;
    
}

.u5_line {
    background-image: url('../搜索页面_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:45px;
}

.u5 {
    position:absolute;
    left:820px;
    top:139px;
    width:10px;
    height:45px;
    
}

.u6_normal {
    background-image: url('../搜索页面_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:830px;
    top:150px;
    width:20px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:856px;
    top:140px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:853px;
    top:147px;
    width:139px;
    height:29px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u10_line {
    background-image: url('../搜索页面_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:43px;
}

.u10 {
    position:absolute;
    left:203px;
    top:141px;
    width:10px;
    height:43px;
    
}

.u11_line {
    background-image: url('../搜索页面_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u11 {
    position:absolute;
    left:320px;
    top:140px;
    width:10px;
    height:44px;
    
}

.u12_line {
    background-image: url('../搜索页面_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:41px;
}

.u12 {
    position:absolute;
    left:437px;
    top:142px;
    width:10px;
    height:41px;
    
}

.u13_mouseOver {
    background-image: url('../搜索页面_files/u13_mouseOver.png');
}

.u13_normal {
    background-image: url('../搜索页面_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:101px;
    top:141px;
    width:106px;
    height:43px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:49px;
}

.u14 {
    position:absolute;
    left:2px;
    top:14px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../搜索页面_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:118px;
    top:149px;
    width:10px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_mouseOver {
    background-image: url('../搜索页面_files/u17_mouseOver.png');
}

.u17_normal {
    background-image: url('../搜索页面_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:209px;
    top:141px;
    width:114px;
    height:43px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:49px;
}

.u18 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../搜索页面_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:226px;
    top:149px;
    width:10px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../搜索页面_files/u17_mouseOver.png');
}

.u21_normal {
    background-image: url('../搜索页面_files/u17_normal.png');
}

.u21_container {
    position:absolute;
    left:326px;
    top:141px;
    width:114px;
    height:43px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:49px;
}

.u22 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../搜索页面_files/u15_normal.png');
}

.u23_container {
    position:absolute;
    left:345px;
    top:149px;
    width:10px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../搜索页面_files/u17_mouseOver.png');
}

.u25_normal {
    background-image: url('../搜索页面_files/u17_normal.png');
}

.u25_container {
    position:absolute;
    left:440px;
    top:141px;
    width:114px;
    height:43px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:49px;
}

.u26 {
    position:absolute;
    left:2px;
    top:14px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../搜索页面_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:42px;
}

.u27 {
    position:absolute;
    left:434px;
    top:142px;
    width:10px;
    height:42px;
    
}

.u28_line {
    background-image: url('../搜索页面_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:42px;
}

.u28 {
    position:absolute;
    left:549px;
    top:142px;
    width:10px;
    height:42px;
    
}

.u29 {
    position:absolute;
    left:995px;
    top:153px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../搜索页面_files/u15_normal.png');
}

.u30_container {
    position:absolute;
    left:450px;
    top:149px;
    width:10px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:112px;
    top:10px;
    width:177px;
    height:81px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:100px;
    top:949px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../搜索页面_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u34 {
    position:absolute;
    left:100px;
    top:966px;
    width:190px;
    height:10px;
    
}

.u35 {
    position:absolute;
    left:100px;
    top:993px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:100px;
    top:1024px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:350px;
    top:949px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_line {
    background-image: url('../搜索页面_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u38 {
    position:absolute;
    left:350px;
    top:966px;
    width:190px;
    height:10px;
    
}

.u39 {
    position:absolute;
    left:350px;
    top:993px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:350px;
    top:1024px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:350px;
    top:1059px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:610px;
    top:949px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../搜索页面_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u43 {
    position:absolute;
    left:610px;
    top:966px;
    width:190px;
    height:10px;
    
}

.u44 {
    position:absolute;
    left:610px;
    top:993px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:610px;
    top:1024px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:866px;
    top:949px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../搜索页面_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:190px;
    height:3px;
}

.u47 {
    position:absolute;
    left:866px;
    top:966px;
    width:190px;
    height:10px;
    
}

.u48 {
    position:absolute;
    left:866px;
    top:993px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:866px;
    top:1024px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../搜索页面_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:101px;
    top:193px;
    width:961px;
    height:35px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:41px;
}

.u51 {
    position:absolute;
    left:2px;
    top:10px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../搜索页面_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:114px;
    top:198px;
    width:13px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:141px;
    top:201px;
    width:188px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../搜索页面_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:101px;
    top:228px;
    width:961px;
    height:387px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:393px;
}

.u56 {
    position:absolute;
    left:2px;
    top:186px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../搜索页面_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:101px;
    top:228px;
    width:961px;
    height:129px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u58 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../搜索页面_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:117px;
    top:241px;
    width:126px;
    height:95px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u60 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_container {
    position:absolute;
    left:121px;
    top:244px;
    width:119px;
    height:90px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u62 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:255px;
    top:237px;
    width:390px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:255px;
    top:273px;
    width:520px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:255px;
    top:334px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../搜索页面_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:101px;
    top:357px;
    width:961px;
    height:129px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u67 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../搜索页面_files/u59_normal.png');
}

.u68_container {
    position:absolute;
    left:117px;
    top:370px;
    width:126px;
    height:95px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u69 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../搜索页面_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:121px;
    top:373px;
    width:119px;
    height:90px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u71 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:255px;
    top:366px;
    width:397px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:255px;
    top:402px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:255px;
    top:463px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../搜索页面_files/u57_normal.png');
}

.u75_container {
    position:absolute;
    left:101px;
    top:486px;
    width:961px;
    height:129px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u76 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../搜索页面_files/u59_normal.png');
}

.u77_container {
    position:absolute;
    left:117px;
    top:499px;
    width:126px;
    height:95px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u78 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_container {
    position:absolute;
    left:121px;
    top:502px;
    width:119px;
    height:90px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u80 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:255px;
    top:495px;
    width:220px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:255px;
    top:531px;
    width:520px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:255px;
    top:592px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../搜索页面_files/u66_normal.png');
}

.u84_container {
    position:absolute;
    left:101px;
    top:615px;
    width:961px;
    height:129px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u85 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../搜索页面_files/u59_normal.png');
}

.u86_container {
    position:absolute;
    left:117px;
    top:628px;
    width:126px;
    height:95px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u87 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../搜索页面_files/u70_normal.png');
}

.u88_container {
    position:absolute;
    left:121px;
    top:631px;
    width:119px;
    height:90px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u89 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:255px;
    top:624px;
    width:397px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:255px;
    top:660px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:255px;
    top:721px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../搜索页面_files/u57_normal.png');
}

.u93_container {
    position:absolute;
    left:101px;
    top:744px;
    width:961px;
    height:129px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:135px;
}

.u94 {
    position:absolute;
    left:2px;
    top:56px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../搜索页面_files/u59_normal.png');
}

.u95_container {
    position:absolute;
    left:117px;
    top:757px;
    width:126px;
    height:95px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:101px;
}

.u96 {
    position:absolute;
    left:2px;
    top:40px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_container {
    position:absolute;
    left:121px;
    top:760px;
    width:119px;
    height:90px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:90px;
}

.u98 {
    position:absolute;
    left:2px;
    top:37px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:255px;
    top:753px;
    width:220px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:255px;
    top:789px;
    width:520px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:255px;
    top:850px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../搜索页面_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:101px;
    top:873px;
    width:961px;
    height:45px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:967px;
    height:51px;
}

.u103 {
    position:absolute;
    left:2px;
    top:14px;
    width:957px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../搜索页面_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:870px;
    top:883px;
    width:22px;
    height:24px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_mouseOver {
    background-image: url('../搜索页面_files/u106_mouseOver.png');
}

.u106_normal {
    background-image: url('../搜索页面_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:907px;
    top:883px;
    width:22px;
    height:24px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_mouseOver {
    background-image: url('../搜索页面_files/u106_mouseOver.png');
}

.u108_normal {
    background-image: url('../搜索页面_files/u106_normal.png');
}

.u108_container {
    position:absolute;
    left:944px;
    top:883px;
    width:22px;
    height:24px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_mouseOver {
    background-image: url('../搜索页面_files/u106_mouseOver.png');
}

.u110_normal {
    background-image: url('../搜索页面_files/u106_normal.png');
}

.u110_container {
    position:absolute;
    left:981px;
    top:883px;
    width:22px;
    height:24px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:30px;
}

.u111 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../搜索页面_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:820px;
    top:883px;
    width:35px;
    height:24px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:30px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../搜索页面_files/u112_normal.png');
}

.u114_container {
    position:absolute;
    left:1018px;
    top:883px;
    width:35px;
    height:24px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:30px;
}

.u115 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

